.ViewSchemaCard {
    width: 170px;
    height: 130px;
    /* background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    user-select: none;
    overflow: hidden;
    margin: 10px; */
}