.pdapp_bgcolr1 {
    background-color: #067fcb;
}

.pdapp_bgcolr1_hover:hover {
    background-color: #0a6299;
}

.pdapp_bgcolr1_active:active {
    background-color: #0a6299;
}

.pdapp_colr1 {
    color: #067fcb;
}

.pdapp_bgcolr2 {
    background-color: #ffffff;
}

.pdapp_colr2 {
    color: #ffffff;
}

.pdapp_bgcolr3 {
    background-color: #f0f0f0;
}

.pdapp_colr3 {
    color: #f0f0f0;
}

.pdapp_bgcolr4 {
    background-color: #ffffdd;
}

.pdapp_colr4 {
    color: #ffffdd;
}