.CreateCollection .CreateCollectionLabel h1 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    color: #000000;
}

@media only screen and (max-width: 650px) {
    .CreateCollection .CreateCollectionLabel h1 {
        font-size: 2rem;
    }
}

.CreateCollection .CreateForm {
    display: flex;
    justify-content: center;
    padding: 0 3px;
}